@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --terminal-amber: #ffb000;
}

body {
  text-shadow: 0 0 8px rgba(255, 176, 0, 0.2);
  animation: flicker 0.15s infinite;
}

a {
  text-decoration: none;
  color: inherit;
}